@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <meta>
</head>
<body>
    <div class="container">
        <div class="leftSide">

            <div class="header">
                <div class="userImg">
                    <img src="/css/account.jpg" class="cover">
                </div>
            </div>

            <div class="seachChat">
                <div>
                    <input type="text" placeholder="Search chat" />
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                    </svg>
                </div>
            </div>

            <div class="chatList">
                @for (var i = 0; i < 15; i++)
                {
                    <div class="block active gap-2">
                        <div class="imgBx">
                            <img src="/css/account.jpg" class="cover" />
                        </div>
                        <div class="details">
                            <div class="listHead mt-1">
                                <h5 class="m-0">Bobur</h5>
                                <p class="time m-0">10:10</p>
                            </div>
                            <div class="message_p">
                                <p class="mb-1">How to make Whatsapp clone using html and css</p>
                                <b>1</b>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="rightSide">
            <div class="header">
                <div class="imgText">
                    <div class="userImg">
                        <img src="/css/account.jpg" class="cover">
                    </div>
                    <h6>Bobur<br /><span>online</span></h6>
                    <ul class="navIcons">
                        <li>B</li>
                        <li>B</li>
                    </ul>
                </div>
            </div>

            <div class="chatBox">
                @for (var i = 0; i < 50; i++)
                {
                    <div class="message myMessage">
                        <p>Hiiasuhdasdiuashdasudisaugdu
                            asgdasdiasugduasdasdasdasdasdsadsadasdasda<br /><span>10:15</span></p>
                    </div>
                    <div class="message friendMessage">
                        <p>Hi asdasgdausygdaysgduasgduasygdasgdasydadgs<br /><span>10:15</span></p>
                    </div>
                }
            </div>

            <div class="chatInput"></div>
        </div>
    </div>
</body>
</html>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

