

<div class="row">
    <div class="col-6">
        <label>Username</label>
        <input type="text" id="userName" />
    </div>
    <div class="col-6">
        <label>Message</label>
        <input type="text" id="message" />
    </div>
    <div class="col-12">
        <button id="sendButton">Send</button>
    </div>
    <hr />
    <ul id="messageList">
        <li>First</li>
    </ul>
</div>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/mychat.js"></script>
